@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-content {
    display: grid;
    color: #010103;
    grid-template-columns: 27fr 21fr 21fr 21fr;
    gap: 8rem;
    justify-content: center;
    text-align: left;
    color: #010103;
  }

  .container {
    max-width: 133rem !important;
    margin: 0 auto !important;
    padding: 0 2.5rem !important;
  }